---
# Main scss file.
---

* { box-sizing: border-box; margin: 0; padding: 0; }

$frontpageCover: "light-blue-sky"; /* this must correspond to cover image in index.md */

$mainFont: black;
$navWidth: 15%;
$widthToMoveNavDown: 800px;
$fallbackHeight: 1080px;
$normalFontSize: 1.1em;

body {
	color: $mainFont;
	font-size: $normalFontSize;
}

body, main, main .normaldiv {
	height: $fallbackHeight;
	height: 100vh;
	overflow: auto;
}

main .normaldiv {
	display: flex;
	align-items: left;
	justify-content: left;
	flex-direction: row;
	flex-wrap: wrap;

	.leftcolumn {
		width: $navWidth;
	}

	.content {
		margin: 0 auto;
		width: 70%;
	}
}

a {
	color: $mainFont;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

@import "images";

@import "footer";

@import "navigation";

@import "game";

@import "newalbum";

@media only screen and (max-width: 1050px) {
	body, main, main .#{$frontpageCover} { height: 100%; } /* so cover image goes all the way down if needed */
	main .normaldiv:last-child { padding-bottom: $footerHeight; } /* so footer doesn't display over it */
}

@media only screen and (max-width: $widthToMoveNavDown) {
	main .normaldiv {
		.leftcolumn { display: none; } /* delete column which doesn't do anything, just a mirror of nav */
		.content { width: 100%;	}
		/* nav is changed to width: 100% here, see _navigation.scss */
	}
}