---
# Main scss file.
---

* { box-sizing: border-box; margin: 0; padding: 0; }

$frontpageCover: "light-blue-sky"; /* this must correspond to cover image in index.md */

$mainFont: black;
$navWidth: 15%;
$widthToMoveNavDown: 800px;
$fallbackHeight: 1080px;
$normalFontSize: 1.1em;

/* the sky-picture used must match, e.g. atm purple-sky==about */
$about: "purple-sky";
$works: "red-sky";
$collaborations: "crazy-sky";
$dungeon: "black-sky";

body {
	color: $mainFont;
	font-size: $normalFontSize;
}

body, main, main .normaldiv {
	height: $fallbackHeight;
	height: 100vh;
	overflow: auto;
}

a {
	color: $mainFont;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

main .normaldiv {
	display: flex;
	align-items: left;
	justify-content: left;
	flex-direction: row;
	flex-wrap: wrap;

	.leftcolumn {
		width: $navWidth;
	}

	.content {
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}
}

/* add default styling for 'normal' normal pages, like about/works etc. */
main .#{$about}, main .#{$works}, main .#{$collaborations}, main .#{$dungeon} {
	.content {
		padding-top: 5%;
		width: 40%;
		font-size: 1.1em;
		line-height: 1.5em;
	}

	.leftcolumn { width: 30%; }
	nav { width: 30%; }
}

.emaillist {
	margin: 0 auto;
	padding-top: 2em;
	width: 330px;
	height: $fallbackHeight;
	height: 100vh;
}

@import "images";

@import "footer";

@import "navigation";

@import "game";

@import "about";

@import "newalbum";

@media only screen and (max-width: 1050px) {
	body, main, main .#{$frontpageCover} { height: 100%; } /* so cover image goes all the way down if needed */
	main .normaldiv:last-child { padding-bottom: $footerHeight; } /* so footer doesn't display over it */
}

@media only screen and (max-width: $widthToMoveNavDown) {
	main .normaldiv {
		.leftcolumn { display: none; } /* delete column which doesn't do anything, just a mirror of nav */
		.content { width: 100%;	}
		/* nav is changed to width: 100% here, see _navigation.scss */
	}
}