---
# Main scss file.
---

* { box-sizing: border-box; margin: 0; padding: 0; }

$mainFont: black;

body {
	color: $mainFont;
}

main {
	height: 100%;
	height: 100vh;
}

a {
	color: $mainFont;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

@import "navigation";

@import "footer";

@import "images";

@import "game";