<!-- Old form -->
<!-- <form action="php/emaillist.php" method="post" id="emaillist_form">
	<input type="email" id="emaillist_text" name="email" size="18" required>
	<button type="submit" id="emaillist_button">Join my email list!</button>
</form> -->

<form action="/php/emaillist.php" method="post" id="emaillist_form">
	<!-- A l v ö r u n e t f a n g -->
	<input type="text" id="gnaften" name="gnaften" size="18" required>
	<!-- H u n a n g s g i l d r a -->
	<input class="hunang" autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here">
	<!-- Common submit button -->
	<button type="submit" id="emaillist_button">Join my email list!</button>
</form>