<div class="vinylout hnkalbum">
	<iframe src="https://open.spotify.com/embed/album/5sRwKvAlTZO2utFkhETLRN" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

	<img id="hnkphoto" src="img/vinyl/hinarnyjukaerustur/hinarnyjukaerustur_photo.jpg">
</div><!-- 
<div class="vinylout hnkvinyl">
	<img id="hnkcover" src="img/vinyl/hinarnyjukaerustur/hinarnyjukaerustur_cover.jpg">

	<iframe style="border: 0; width: 400px; height: 450px;" src="https://bandcamp.com/EmbeddedPlayer/album=3270811882/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://matthiaspetursson.bandcamp.com/album/hinar-n-ju-k-rustur-matth-asar-ri-ja">Hinar Nýju Kærustur Matthíasar Þriðja by Matthías Pétursson</a></iframe>
</div> -->