<div class="newalbum">

	<iframe src="https://open.spotify.com/embed/album/5Z5XuMOJ8GwwIsRBDBx0DY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

	<iframe style="border: 0; width: 400px; height: 373px;" src="https://bandcamp.com/EmbeddedPlayer/album=3634799301/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://matthiaspetursson.bandcamp.com/album/the-apple-store">The Apple Store by Matthías Pétursson</a></iframe>
	
</div>