<div class="newalbum">
	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5Z5XuMOJ8GwwIsRBDBx0DY?utm_source=generator" width="300" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

	<iframe style="border: 0; width: 400px; height: 373px;" src="https://bandcamp.com/EmbeddedPlayer/album=3634799301/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://matthiaspetursson.bandcamp.com/album/the-apple-store">The Apple Store by Matthías Pétursson</a></iframe>
</div>