main .#{$about} {
	.content {
		padding-top: 5%;
		width: 40%;
		font-size: 1.1em;
		line-height: 1.5em;
	}

	.leftcolumn { width: 30%; }
	nav { width: 30%; }
	
	p { margin-bottom: 5%; }

	#dungeon-link:hover {
		cursor: pointer;
	}

	.itemFlashing {
		border: red solid 2px;
		border-radius: 10px;

		padding: 0.2% 2%;
		background-color: lighten(red, 15%);
	}
}