main .#{$collaborations} {
	background-color: #2fbcf0;

	.articletext {
		font-size: 1.1em;
		margin-bottom: 1%;
	}

	.collabitem {
		margin-bottom: 3%;
	
		display: flex;
		flex-direction: column;
		align-items: center;

		iframe { margin-bottom: 0.7em; }
	}

	.collabitem:last-of-type {
		margin-bottom: 100px;
	}
}