$footerItemMargin: 0.6%;

footer {
	align-self: flex-end;

	width: 100%;
	padding-bottom: 0.5em;

	text-align: center;

	a { text-decoration: underline; }

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	overflow: visible;
}

footer > * {
	margin: 0 $footerItemMargin;
}

#emaillist_form {
	width: 100%;
	margin-left: 0.1%;
	margin-top: 0.3%;

	> * {
		font-size: 1rem;
		padding: 0.1% 0.2%;
	}

	button {
		margin-left: $footerItemMargin;
		font-size: 0.95rem;
		padding: 0.1% 0.5em;

		background-color: #f9f9f9;
		border-radius: 10px;
		border: 1px solid #6f6f6f;
	}

	button:hover {
		background-color: #e9e9e9;
		border-color: #3f3f3f;
		cursor: pointer;
	}

	// For spam, this hides the fake fields.
	.hunang {
		opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 0;
	    width: 0;
	    z-index: -1;
	}
}