nav {
	margin: 0 auto;
	font-size: 1.2rem;
	padding: 3% 1.5%;
	width: $navWidth;
	text-align: right;
	
	li {
		padding: 3px 0;
		list-style-type: none;

		a { display: block; } /* to make complete list item clickable */
	}
}

@media only screen and (max-width: $widthToMoveNavDown) {
	main .normaldiv nav { 
		width: 100%;
		text-align: center;
	}
}