nav {
	padding: 3% 1.5%;
	width: $navWidth;
	text-align: right;
	
	li {
		list-style-type: none;
	}
}

@media only screen and (max-width: $widthToMoveNavDown) {
	main .normaldiv nav { 
		width: 100%;
		text-align: center;
		margin-bottom: $footerHeight; /* so footer and nav doesn't display over each other */
	}
}