.sheetmusic {
	a:hover { text-decoration: none; }

	padding-bottom: 3%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	ul {
		width: 250px;
		margin: 1% 0;

		.songcontainer {
			padding: 1% 0;

			> * { padding: 1% 0; }

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.downloadall { margin-top: 2%; }
	.downloadall:hover { text-decoration: underline; }

	.thumbnail {
		height: 80px;
		width: 60px;
	}
}