/* This applies to the sheetmusic.html page itself */
$sheethovercolor: #00638B;

main .#{$sheetmusic} {
	background-color: #f3a249;

	h3 { padding: 2% 0; }
	h4 { padding: 0.5% 0; }

	.sheetmusiclist {
		margin-bottom: 2em;
		li {
			display: flex;
			justify-content: center;
			align-items: center;

			margin: 5px 0px;
			a {
				width: 100%;
				display: block;
				padding: 6px 1px; /* to make complete list item clickable */
			}

			.youtubesongsheet {
				width: 90%;
				margin-left: 10%;
			}
			.youtubesong { width: 10%; margin-left: auto; }
		}

		a:hover { 
			background-color: $sheethovercolor; 
			text-decoration: none;
		}
		a.youtubesong:hover {
			background-color: inherit;
			img { opacity: 0.8; }
		}
	}
	.bottomsheetmusiclist { margin-bottom: 5em; }

	.sheetmusiccontainer { 
		width: 400px;
		margin: 0 auto;
	}

	.youtubesong img {
		width: 35px;
		height: 35px;
	}
}

/* This applies to the sheet music for albums etc. from links in Works (and links in sheetmusic.md ofc) */
.sheetmusic {
	a:hover { text-decoration: none; }
	
	li:hover { background-color: $sheethovercolor; }


	padding-bottom: 3%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	text-align: left;

	ul {
		width: 300px;
		margin: 1% 0;

		.songcontainer {
			padding: 1.5% 10%;

			> * { padding: 1% 0; }

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.downloadall { margin-top: 2%; }
	.downloadall:hover { text-decoration: underline; }

	.thumbnail {
		height: 80px;
		width: 60px;
	}
}
