/* CSS for front page news */
.vinylout {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 3.5%;
	display: flex;
	align-items: center;
	justify-content: center;

	> * {
		margin: 1%;
	}
}
.flakytitle { 
	display: block; 
	margin: 2% 1% 0.8% 1%;

	h1 { margin: 0.2% 0 0 0; }
}
.bottomvinylout { margin-bottom: 6%; }

$applestoreplantWidth: 58%;
#applestoreplant {
	width: $applestoreplantWidth;
	height: auto;
}
#applestorepocket {
	width: 98% - $applestoreplantWidth;
	height: auto;
}

#hnkcover {
	width: 45%;
	height: auto;
}
#hnkphoto {
	width: 45%;
	height: auto;
}
.hnkalbum { margin-bottom: 0; }
.hnkvinyl { margin-top: 0; }

.newalbum {
	width: 100%;
	display: block;
	text-align: center;

	> * {
		margin: 1%;
	}
}

@media only screen and (max-width: 1010px) {
	.vinylout {	flex-direction: column; }
	#hnkphoto, #hnkcover { width: 80%; }
}
@media only screen and (max-width: 610px) {
	.vinylout {
		width: 100%;
	}
}
@media only screen and (max-width: 410px) {
	.vinylout > * {
		margin: 1% 0;
	}
	.newalbum > * {
		margin: 1% 0;
	}
}